.node {
  width: 31px;
  height: 31px;
  outline: 0.5px solid #ffffff36;
  margin: 0.5px ;
  display: inline-block;
  vertical-align:middle;
}

.node-finish {
  background-color: #e01d1dc4;
}

.node-start {
  background-color: rgb(14, 143, 68);
  
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.4);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

.node-wall {
  background-color: #fcba03;
}



.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: #cf2541;
  }

  50% {
    transform: scale(1.2);
    background-color: #cf2541;
  }

  100% {
    transform: scale(1);
    background-color: #cf2541;
  }
}
