.node {
  width: 31px;
  height: 31px;
  background-color: #a1a6a3;
  margin: 1px ;
  display: inline-block;
  vertical-align:middle;
}

.node-finish {
  background-color: black;
}

.node-start {
  background-color: black;
  
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.4);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {

    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

.node-wall {
  background-color: #fcba03;
}


.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.node-animated-wall {
    animation-name: wallAnimation;
    animation-duration: 0.25s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes wallAnimation {
  0% {
    transform: scale(0.4);
    background-color: rgb(116, 112, 2);
    
  }

  50% {
    transform: scale(0.6);
    background-color: rgb(99, 100, 0);

  }

  75% {
    transform: scale(0.8);
    background-color: rgb(126, 124, 0);

  }

  100% {
    transform: scale(1);
    background-color: #fcba03;

  }
}


@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: #cf2541;
  }

  50% {
    transform: scale(1.2);
    background-color: #cf2541;
  }

  100% {
    transform: scale(1);
    background-color: #cf2541;
  }
}
